<header>
  <div class="navbar">
    <div class="logo">
      <img src="https://i.ibb.co/fDwpf4c/logo.jpg" alt="FutureTech Logo">
    </div>
    <div class="contact-info">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search for products...">
      <button type="submit">Search</button>
    </div>
    <div class="user-actions">
      <img src="https://i.ibb.co/0rgDjSL/blue-shopping-cart-10910.png" alt="cart Logo">
      <a href="#" class="cart">Cart</a>
      <a href="#" class="sign-in">Sign In</a>
    </div>
  </div>
</header>
<app-home-appliances></app-home-appliances>
<app-smartphones></app-smartphones>
<app-televisions></app-televisions>
<app-footer></app-footer>