<section class="televisions">
  <div class="televisions-section">
    <h2>Televisions</h2>
    <button class="shop-all-btn">Shop All</button>
    <div class="televisions-gallery">
        <img src="https://images.samsung.com/is/image/samsung/eg-fhd-t5300-ua43t5300auxeg-frontblack-254763456?$1300_1038_PNG$" alt="Television 1">
        <img src="https://images.samsung.com/is/image/samsung/ca-fhdtv-n5300-us-un32n5300afxzc-frontblack-99897398?$1300_1038_PNG$" alt="Television 2">
        <img src="https://images.samsung.com/is/image/samsung/eg-fhd-t5300-ua32t5300auxeg-frontblack-254764355?$1300_1038_PNG$" alt="Television 3">
    </div>
</div>
</section>