<footer>
  <div class="footer-content">
    <div class="social-media">
      <p>Contact Us</p>
      <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png" alt="Instagram"></a>
      <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/38-instagram-512.png" alt="Facebook"></a>
      <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/09-google-3-512.png" alt="TikTok"></a>
    </div>
    <div class="footer-bottom">
      <p>©2024 FutureTech All Rights Reserved</p>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>