<section class="smartphones">
  <div class="smartphones-section">
    <h2>Smartphones</h2>
    <button class="shop-all-btn">Shop All</button>
    <div class="smartphones-gallery">
        <img src="https://image01.realme.net/general/20240307/170981098237553c4fc02d9fa44d1bec74801fd48c817.png.webp" alt="Phone 1">
        <img src="https://image01.realme.net/general/20240426/17141275441096129ba8bc1c145a2868c7d45460f3ad1.png.webp" alt="Phone 2">
        <img src="https://image01.realme.net/general/20240613/1718272769867c652e979150b405b954fd979bfd77c3d.png.webp" alt="Phone 3">
    </div>
</div>
</section>